* {
  box-sizing:border-box;
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.main {
  background-image:url('../img/bg.png');
  background-position:center;
  background-size: cover;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 69em;
  overflow: hidden;
}
.header {
  margin-top: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.8em;
}
.header__logo {
  display: flex;
  align-items: center;
}
.logo__image {
  margin-right: 0.44rem;
}
.logo__link {
  margin: 0;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.3rem;
  text-transform: uppercase;
  color:#fff;
}
.hamburger-menu {
  display: none;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.header__menu__item {
  list-style: none;
  padding-right: 1.5rem;
}
.header__menu__link {
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1rem;
  text-transform: uppercase;
  color: #fff;
}
.header__menu__link:hover {
text-decoration: underline;
}
.button{
  font-size: 0.9em;
  line-height: 1rem;
  text-transform: uppercase;  
  color: #FFFFFF;
  background-color: transparent;
  padding: 1.1rem 3.3rem;
  border: 0.06rem solid #FFFFFF;
  border-radius: 0.38rem;
}
.button:hover {
  background-color: #fff;
  color: #ED4C5C;
  transition: 1s;
}
.content {
  display: flex;;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content__title {
  margin: 0;
  font-weight: bold;
  font-size: 4.5em;
  line-height: 1.19em;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.5em;
}
.content__subtitle {
  display: flex;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  max-width: 22.5em;
  font-weight: 600;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 1.6em;
}
.button--white {
  cursor: pointer;
  font-weight: 600;
}
.button--white:hover {
  background-color: #fff;
  color: #ED4C5C;
  transition: 1s;
}

/*BLOCK 2*/
#post {
  display: flex;
  align-items: center;
  padding-bottom: 5.9em;
  padding-top: 5.9em;
}
.post__info {
  margin-right: 7.8em;
}
.post__info__title {
  margin: 0; 
  font-weight: 600;
  font-size: 2.3em;
  padding-bottom: 1.2em;
  line-height: 1.2em;
  color: #000000;
}
.post__info__subtitle {
  margin: 0;
  font-size: 0.8em;
  padding-bottom: 2em;
  line-height: 140%;
}
.post__info__link {
  font-size: 0.8em;
  line-height: 140%;
  color: #ED4C5C;
}
.post__info__link:hover {
text-decoration: underline;
}
.post__image__photo {
  border-radius: 1em;
  margin-right: 6.3rem;
}


/*BLOCK 3*/
.block-2 {
  padding-top: 3.9em;
  background-color: #FAFAFA;
}
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 7.8rem;
}
.box__title {
  margin: 0;
  font-size: 2.3em;
  line-height: 1.2em;
  color: #000000;
  padding-bottom: 1.75em;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align:center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 1 33.333%;
  word-break: break-all;
}
.card__image {
  overflow: hidden;
}
.card__photo {
  border-radius:0.5em;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 80%;
  background: #FFFFFF;
  box-shadow: 0rem 0.3rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-top: -5.8rem;
  padding: 1.8em;
  overflow: hidden;
}
.card__info__title {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.2em;
  padding-bottom: 1.2em;
  color: #101010;
}
.card__info__subtitle {
  margin: 0;
  font-size: 0.8em;
  line-height: 150%;
  color: #101010;
  padding-bottom: 1.3em;
}
.card__info__link {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 150%;
  color: #ED4C5C;
}
.card__info__link:hover {
text-decoration: underline;
}
.block-3 {
  padding-top: 3.9em;
}
#box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box__title__2 {
  margin: 0;
  font-size: 2.3em;
  line-height: 1.2em;
  color: #000000;
  padding-bottom: 1.4em;
}
.cards__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.card__icon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  max-width: 25%;
  padding-bottom: 6.8em;
}
.card__icon__link {
  max-width: 70%;
}
.card__icon__text {
  margin: 0;
  font-weight: 700;
  font-size: 6.3em;
  line-height: 1.2em;
  color: rgba(16, 16, 16, 0.08);
}
.icon__image {
  margin-top: -3.8rem;
  color: #ED4C5C;
}
.card__icon__title {
  margin: 0;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.3em;
  color: #101010;
  padding-bottom: 0.5em;
}
.card__icon__subtitle {
  margin: 0;
  font-size: 0.75em;
  line-height: 1.1em;
  color: #000000;
}
.block-4 {
  background-color: #ED4C5C;
}
.post__info__title_2 {
  color: #fff;
}
.post__info__subtitle_2{
  padding: 0;
  padding-bottom: 2.5em;
  color: #fff;
}
.post__social__image {
  margin: 0;
  padding-right: 1.4rem;
}

#block-5__container {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 7.3rem;
  padding-bottom: 4.9em;
}
.mainWrap {
  max-width:100%;
}
.mainWrap__name,
.mainWrap__last {
  width:49% ;
  font-size: 1em;
  line-height: 1.3em;
  color: rgba(19, 39, 67, 0.5);
  background-color:#fff;
  border: 0.06em solid #333333;
  border-radius: 0.38em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 1.8em;
  margin-bottom: 1.4em;
}
.mainWrap__mainArea, .mainWrap__phone {
  width:98%;
  font-size: 1em;
  line-height: 1.3em;
  color: rgba(19, 39, 67, 0.5);
  resize:none;
  border: 0.06em solid #333333;
  border-radius: 0.38em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 1.8em;
  margin-bottom: 1.6em;
}
.mainWrap__btn {
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 1.1em 2.4em;
  margin-bottom: 1.4em;
  text-transform: uppercase;
  background-color:#ED4C5C;
  color:#fff;
  border: 0.1em solid #ED4C5C;
  border-radius: 0.4em;
  cursor:pointer;
}
.mainWrap__btn:hover {
  background-color:#000000;
  color:#fff;
  border: 0.1em solid #000;
  transition: 1s;

}
.footer {
 background-color: #FAFAFA;
 color: #101010;
 padding-bottom: 5.4em;
}
.footer__middle {
  padding-top: 5.4em;
	display: grid;
  grid-gap: 4.4em;
  grid-template-columns: repeat(4, 4fr);
  grid-auto-rows: minmax(16em, auto);
}
.footer__title {
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1.8em;
}
.footer__text {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__txt__address {
  margin: 0;
  font-size: 0.75em;
  line-height: 150%;
  padding-bottom: 11em;
}
.footer__txt {
  margin: 0;
  font-size: 0.75em;
  line-height: 150%;
}
.footer__list {
  margin: 0;
  font-size: 0.75em;
  line-height: 160%;
  text-transform: capitalize;
  padding: 0;
}
.footer__link {
  color: #000000;
}
.footer__mail {
  display: flex;
  font-size: 0.75em;
  line-height: 0.8em;
  color: #101010; 
  padding-bottom: 0.65em;
}
.footer_mail:hover {
  text-decoration: underline;
}
.footer__number {
  display: inline-block;
  font-size: 0.75em;
  line-height: 0.8em;
  color: #121212;
  padding-bottom: 1.5em;
  padding-right: 0;
}
.footer__number:hover {
  text-decoration: underline;
}

.footer__social {
	display: flex;
	align-items: center;
  margin: 0;
  padding: 0;
}
.footer__item {
  list-style: none;
}
.footer__social__item{
  display: block;
  list-style: none;
}
.footer__social__item:not(:last-child){
  padding-right: 0.75em;
}
.footer__pay {
  max-width:100%;
}


@media (max-width:1140px) {
  .container {
    max-width:90%;
  }
  #block-5__container {
    max-width: 90%;
  }
    .card {
    text-align: center;
    object-fit: cover;
    margin-right: 2%;
  }
  .card__info {
    overflow: hidden;
  }
}
@media (max-width:1024px) {
 .content {
  position: relative;
 }
  .container {
    max-width: 90%;
  }
  #block-5__container {
    max-width: 90%;
  }
  .card {
    text-align: center;
    object-fit: cover;
    margin-right: 2%;
  }
  .card__info {
    overflow: hidden;
  }

}
@media (max-width:920px) {
  .post__info__title {
    font-size: 2em;
  }
  .post__image__photo {
   margin: 0;
  }
  .box__title, .box__title__2 {
    font-size: 2em;
  }
}
@media (max-width:850px) {
  .post__info__title {
    font-size: 2em;
  }
  .post__info {
   margin-right: 5%;
  }
  .box__title, .box__title__2 {
    font-size: 2em;
  }
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    margin: 0;
    margin-bottom: 15%;
  }
  #box {
    padding-bottom: 0;
  }
  .card__info {
    max-width: 65%;
}
  .card__icon__text {
    font-size: 6em;
  }
  .header__nav, .button {
  display: none;
}
.mainWrap__name, .mainWrap__last {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}
.mainWrap__mainArea, .mainWrap__phone {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.header {
  position: relative;
}
.hamburger-menu {
  display: block;
  z-index: 1;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  right: 5%;
  top: 5%;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #ebe9e9;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -0.5rem;
  background-color: #ebe9e9;
}
.menu__btn > span::after {
  content: '';
  background-color: #ebe9e9;
  top: 0.5rem;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 19rem;
  height: 100%;
  margin: 0;
  padding: 5rem 0;
  list-style: none;
  background-color: #fff;
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 0.75rem 1.5rem ;
  color: #ED4C5C;;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
.footer__middle {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: minmax(16em, auto);
}
}
@media (max-width:600px) {
    .content__title {
    font-size: 3.5em;
  }
  .content__subtitle {
    font-size: 1.2em;
  }
  .post__image{
    display: none;
  }

  .cards__icons {
    flex-direction: column;
  }
  .card__icon {
     max-width:100%;
     padding-bottom: 5em;
  }

}
@media (max-width:480px) {
  .container {
    max-width: 85%;
  }
  .content__title {
    font-size: 3em;
  }
  .content__subtitle {
    font-size: 1em;
  }
  #block-5__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .post__info__subtitle_3 {
    padding-bottom: 3em;
  }
  .menu__box {
    width: 50%;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer__txt__address {
    padding-bottom: 5em;
  }
}
@media (max-width:390px) {
    .content__title {
    font-size: 2.5em;
  }
  .content__subtitle {
    font-size: 0.85em;
  }
#block-5__container {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}
.card__info {
  max-width:80%;
}
}
@media (max-width:320px) {
    .container {
    max-width: 80%;
  }
  .header {
    margin-top: 2.5em;
  }
    .content__title {
    font-size: 2em;
  }
  .card__info {
  max-width:90%;
  padding: 1.2em;
}
  .card__info__title {
    font-size: 1em;
  }
  .content__subtitle {
    font-size: 0.75em;
  }
  .post__info__title {
    font-size: 1.5em;
  }
  .box__title, .box__title__2 {
    font-size: 1.5em;
}

}

