* {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 50px;
 width: 1300px;
  max-width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.part_2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input__disabled {
  width: 260px;
  max-width: 100%;
}
.form__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  margin-bottom: 7px;
}
.form__column__1,
.form__column__2, 
.form__column__3,
.form__column__4,
.form__column__5,
.form__column__6,
.form__column__7,
.form__column__8,
.select {
  margin-bottom: 18px;
}
.input__basic {
  width: 260px;
  max-width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 10px 12px;
  color: #2C2C2C;
  opacity: 0.5;  
}
.input__basic:focus {
  outline: none;
  opacity: 1;
  border-color:#18A0FB;
 }
.input__basici:active {
  outline: none;
  opacity: 0.5;
  border-color:#18A0FB;
 }
.input__basic:valid {
  border-color: #FF3E1D;
  background-color: rgba(255, 62, 29, 0.06);
  color: #FF3E1D;
}
.name__2 {
  opacity: 0.4;
}
.input__disabled {
  border-radius: 4px;
  padding: 10px 12px;
  border: 1px solid #E0E0E0;
  opacity: 0.5;
  background-color: rgba(224, 224, 224, 0.3);
}
.input__search {
  width: 260px;
  max-width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  background-position: left 11px center;
  background-repeat: no-repeat;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #2C2C2C;
  opacity: 0.5;
  padding-left: 37px;
}
.search-left {
  background-image: url('../img/search.svg');
  cursor: pointer;
}
.input__search-2 {
  background-position: right 11px center;
  padding-left: 12px;
  padding-right: px;

}
.search-right {
  background-image: url('../img/search-r.svg');
  cursor: pointer;
}
.form__url {
  display: flex;
}
.input__url {
  width: 200px;
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  opacity: 0.5;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 0 0 4px 4px;
}
.input__group__url {
  width: 60px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 11px 12px;
  text-align: center;
  white-space: nowrap;
  background: rgba(224, 224, 224, 0.3);
  border: 1px solid #E0E0E0;
   border-radius: 4px 0 0 4px;
  color: #2C2C2C;
  opacity: 0.5;
}
.input__group__url>.input__url  {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.form__textarea {
  font-family: 'Inter', sans-serif;
  width: 260px;
  height: 93px;
  max-height: 100%;
  max-width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  opacity: 0.5;
  padding-top: 10px;
  padding-left: 16px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;  
  outline: none;
}
.form__textarea:valid {
  opacity: 1;
  border-color: #FF3E1D;
  background-color: rgba(255, 62, 29, 0.06);
  color: #FF3E1D;
}

/* SELECT*/

.select {
  display: flex;
	position: relative;
	width: 260px;
}
.select.is-active .select__body {
	display: block;
  z-index: 1;
}
.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;

	margin-left: auto;
	text-align: center;

  padding-right: 7px;
  padding-top: 6px;
}
.select__body {
	border: 1px solid #E0E0E0;
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
}
.select__header {
	border: 1px solid #E0E0E0;
	cursor: pointer;
	display: flex;
  border-radius:4px;
}
.select__icon {
  padding: 0;
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	margin-left: auto;
	text-align: center;
  padding-right: 14px;

}
.select__current {
	font-size: 13px;
	line-height: 16px;
	padding: 11px;
  color: #2C2C2C;
  opacity: 0.5;
  width: 235px;
  max-width: 100%;
}
.select__item {
	cursor: pointer;
	font-size: 13px;
	line-height: 16px;
	padding: 8px;
  background-color: #fff;
}
.select__item:hover {
	background-color: #f2f2f2;
}
.current {
  width: 260px;
  max-width: 100%;
}


/*CHECKBOX*/
.checkbox {
  margin-bottom: 16px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-right: 10px;
  cursor: pointer;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: .2s;
}
.custom-checkbox:checked+label::before {
  border-color: #18A0FB;
  background-color: #18A0FB;
  background-image: url('../img/check.svg');
}

.custom-checkbox:disabled+label::before {
  background-color: #E0E0E0;
}
/*RADIO*/
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-right: 10px;
  cursor: pointer;
}
.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 16PX;
  height: 16PX;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-radio:checked+label::before {
  border-color: #18A0FB;
  background-color: #18A0FB;
  background-image: url('../img/circle.svg');
}
.custom-radio:disabled+label::before {
  background-color: #E0E0E0;
}

/*SWITCH*/
.switch__box__1{
  margin-top: 30px;
}
.switch__box__2 {
  margin-top: 29px;
}
.switch__box__3 {
  margin-top: 32px;
}
.switch__checkbox{
  display: inline-block;
  padding: 5px 5px 5px 23px;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.checkbox__name {
  margin: 0;
  margin-top: -20px;
  margin-left: 42px;
}
.switch__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: inherit;
}
.switch__checkbox span{
  display: inline-block;
}
.switch__checkbox  span:before,
.switch__checkbox  span:after{
  content: '';
  position: absolute;
  top: 50%;
  transition: .3s;
}
.switch__checkbox  span:before{
  left: 0;
  width: 52px;
  height: 32px;
  margin-top: -15px;
  border-radius: 19px;
  opacity: 0.1;
  border: 1px solid #2C2C2C;
}
.switch__checkbox  span:after{
  left: 1px;
  height: 26px;
  width: 26px;
  margin-top: -11px;
  border-radius: 50%;
  background-color: #2C2C2C;
  opacity: 0.2;
  margin-left: 2px;
  border: none;
}

.switch__checkbox  input:checked + span:before{
  background-color: #00D200;
  opacity: 1;
  border: none;
}
.switch__checkbox  input:checked + span:after{
  height: 26px;
  width: 26px;
  right: 1px;
  margin-top: -12px;
  left: 22px;
  background-color: #fff;
  opacity: 1;
}
.switch__checkbox  input:disabled + span:after{
  height: 26px;
  width: 26px;
  right: 1px;
  margin-top: -12px;
  background-color: #fff;
  opacity: 1;
}
.switch__checkbox  input:disabled + span:before{
  background-color: #2C2C2C;
  opacity: 0.2;
}
.disabled {
  margin-left: 40px;
}

.box__3  span:before{
  width: 52px;
  height: 24px;
}
.box__3  span:after{
  left: 1px;
  height: 20px;
  width: 20px;
  margin-top: -12px;
  border-radius: 50%;
  background-color: #2C2C2C;
  opacity: 0.2;
  margin-left: 2px;
  border: none;
}
.box__3  input:checked + span:before{
  background-color: #00D200;
  opacity: 1;
  border: none;
}
.box__3  input:checked + span:after{
  height: 20px;
  width: 20px;
  right: 1px;
  margin-top: -13px;
  left: 28px;
  background-color: #fff;
  opacity: 1;
}
.switch__checkbox  input:disabled + span:after{
  height: 20px;
  width: 20px;
  right: 1px;
  margin-top: -12px;
  background-color: #fff;
  opacity: 1;
}
.switch__checkbox  input:disabled + span:before{
  background-color: #2C2C2C;
  opacity: 0.2;
  width: 52px;
  height: 24px;
}
.slider_box {

  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*SLIDER 1*/
.part_4 {
  display: flex;
  margin-top: 30px;
  max-width: 100%;
  flex-wrap: wrap;
}
.range {
  pointer-events:none;
  position: relative;
  width: 300px;
  height: 2px;
  background-color: #E0E0E0;
  border-radius: 10px;
  
}
.min-box, .max-box {
  display: none;
}
.min-range-item ,
.max-range-item {
  position: absolute;
  cursor: pointer;
  display: block;
  left: 0;
  top: -12px;
  height: 24px;
  width: 24px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
  border-radius: 50%;
}
.range-fill {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #18A0FB;
  border-radius: 10px;
}
.max-range-item {
  left: 250px;
}
.info {
  user-select: none; 
}
/*SLIDER 2*/

.slider_element_2 {
  pointer-events: none;
  margin: 0px;
  cursor: pointer;
  padding-left: 30%;
  padding-right: 30%;
  border-radius: 10px;
  background-color: #E0E0E0;
  box-sizing: border-box;
}

.thumb-2 {
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  position: absolute;
}

.track-2 {
  pointer-events: none;
  height: 100%;
  background-color: #18A0FB;
  border-radius: 10px;
}
.slider-2 {
  position: relative;
  margin-top:90px ;
  height: 48px;
  width: 300px;
}

.output-2 {
  pointer-events: none;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50% 50% 0 50%;
  background-color: #18A0FB;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
}

.output-2 p {
  margin: 0;
  padding: 0;
  pointer-events: none;
  font-weight: bold;
  font-size: 13px;
  color: #FAFBFD;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*SLIDER 3*/
.slider-3 {

display: flex;
align-items: center;
justify-content: center;
}

.range-3 {
display: flex;
width: 300px;
}
.range__slider {
width: 300px;
}
.form-group {
display: flex;
flex-direction: column; 
justify-content: center;
}
.form-group span {
display:none;
}
.range__slider [type="range"] {
width: 100%;
-webkit-appearance: none;
height: 2px;
border-radius: 10px;
background: #E0E0E0;
outline: none;
padding: 0;
margin: 0;
}
.range__slider [type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 24px;
height: 24px;
border-radius:50%;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.05);
box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
cursor: pointer;
-webkit-transition: background .15s ease-in-out;
transition: background .15s ease-in-out;
}

/*SLIDER 4*/
.slider_element_4 {
  pointer-events: none;
  margin: 0px;
  cursor: pointer;
  padding-left: 30%;
  padding-right: 30%;
  border-radius: 10px;
  background-color: #E0E0E0;
  box-sizing: border-box;
}

.thumb-4 {
  cursor: pointer;
  background: #18A0FB;
  border-radius: 50%;
  position: absolute;
}

.track-4 {
  pointer-events: none;
  height: 100%;
  background-color: #18A0FB;
  border-radius: 10px;
}

.slider-4{
  position: relative;
  margin-top: 90px ;
  height: 48px;
  width: 300px;
}

.output-4 {
  pointer-events: none;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50% 50% 0 50%;
  background-color: #18A0FB;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
}

.output-4 p {
  margin: 0;
  padding: 0;
  pointer-events: none;
  font-weight: bold;
  font-size: 13px;
  color: #FAFBFD;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*SLIDER 5*/

#rage-5[type='range'] {
  display: block;
}

#rage-5[type='range']:focus {
  outline: none;
}

#inputDiv {
  width: 300px;
  margin-top: 40px;
  position: relative;
}

#etiqueta {
  pointer-events: none;
  margin: 0;
  width: 30px;
  height: 30px;
  color: #FAFBFD;
  font-size: 14px;
  line-height: 30px;
  border-radius: 50% 50% 0 50%;
  background-color: #18A0FB;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
}

#rage-5[type='range'],
#rage-5[type='range']::-webkit-slider-runnable-track,
#rage-5[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#rage-5[type=range]::-webkit-slider-thumb {
  background-color: #18A0FB;
  width: 10px;
  height: 10px;
  border: 1px solid #18A0FB;
  border-radius: 50%;
  margin-top: -4px;
}

#rage-5[type=range]::-moz-range-thumb {
  background-color: #18A0FB;
  width: 10px;
  height: 10px;
  border: 1px solid #18A0FB;
  border-radius: 50%;
}

#rage-5[type=range]::-ms-thumb {
  background-color: #18A0FB;
  width: 10px;
  height: 10px;
  border: 1px solid #18A0FB;
  border-radius: 50%;
}


#rage-5[type=range]::-webkit-slider-runnable-track {
  background-color: #fff;
  height: 2px;
}

#rage-5[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

#rage-5[type=range]::-moz-range-track {
  background-color: #E0E0E0;
  height: 2px;
}

#rage-5[type=range]::-ms-track {
  background-color: #E0E0E0;
  height: 2px;
}

#rage-5[type=range]::-ms-fill-lower {
  background-color: #18A0FB;
}

#rage-5[type=range]::-ms-fill-upper {
  background-color: #E0E0E0;
}

/*BUTTONS*/
.buttons__big {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 490px;
  flex-wrap: wrap;
}
.buttons__group_examle-1 {
  display: flex;
}
.buttons__group_examle-2 {
  display: flex;
}
.button__big {
  display: flex;
  padding: 14px 36px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-right: 20px;
  margin-bottom: 24px;
}
.button__small  {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.button__title {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 26px;
}
.button__big__normal {
  color: #FFFFFF;
  border: none;
  background-color: #18A0FB;
}
.button__small__normal{
  background-color: #FF3E1D;
} 
.button__big__link {
  text-decoration: none;
}
.button__big__active {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
}
.button__big__normal:hover {
  background: #FFFFFF;
  border: 1px solid #18A0FB;
  transition:  .5s;
  color: #18A0FB;
}
.tabs {
  display: flex;
}
.button__big__icon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 139px;
  max-width: 100%;
  height: 46px;
  margin-right: 20px;
  margin-bottom: 24px;
}

.button__small__icon {
  margin: 0;
  padding: 0;
  width: 116px;
  max-width: 100%;
  height: 36px;
  margin-right: 20px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.button__text {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}
.button__link__icon {
  flex-shrink: 0;
  width: 24px;
  transition: fill .3s;
  stroke: #fff;
}
.button__link__icon__small {
  width: 20px;
}

.button__link__icon:hover,
.button__link__icon:focus {
  stroke: #18A0FB;
  fill:#18A0FB;
}
.button__text__left {
  padding: 0;
  padding-left: 10px;
}
.button__link__icon_active,
.button__link__icon_active:hover,
.button__link__icon_active:focus{
  stroke: #2c2c2c;
}

.button__link__icon_disabled,
.button__link__icon_disabled:hover,
.button__link__icon_disabled:focus {
  stroke: #878787;
}
.button__small {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  padding: 10px 24px;
  width: 116px;
  font-size: 13px;
  line-height: 16px;
}

/*TABS icons small*/
.part_3 {
  display: flex;
    margin-left: 100px;
    justify-content: center;
    flex-direction: column;
}

.tab__icons {
  display: flex;
  align-items: center;
  padding: 0;
}
.tab__icon {
  list-style: none;
}
.tab__icon__link {
  list-style: none;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 5px 0px 0px 5px;
  padding: 17px 20px;
  float: left;
  transition: background-color .5s;
}
.tabs {
  margin-bottom: 20px;
}
.tab__img {
  flex-shrink: 0;
  height: 15px;
  width: 15px;
  fill: currentColor;
  transition: fill .3s;
}
.tab__icon__link:hover,
.tab__icon__link:focus {
  background-color: #18A0FB;
  color: #fff;
}
.tab__icon__link_down{
  margin: 0;
  padding: 0;
  border: none;
  padding: 14px 16px;
  border-radius: 0px;
  stroke: #2C2C2C;
  background-color: #FFFFFF;
  box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
  float: left;
  transition: background-color .5s;
}
.tab__icon__link_down:hover,
.tab__icon__link_down:focus  {
  border: none;
  stroke: #fff;
}
.tab__icon__link_search {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 13px 16px;
  stroke: #2C2C2C;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  float: left;
  transition: background-color .5s;
}
.tab__icon__link_search:hover,
.tab__icon__link_search:focus  {
  border: none;
  background-color: #18A0FB;
  color: #fff;
  border: 1px solid #E0E0E0;
  stroke: #fff;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
}

.button_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #2C2C2C;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  padding: 14px 48px;
  transition: background-color .5s;
  cursor: pointer;
}

.button_tab_1 {
  border: 0;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #E0E0E0;
}
.button_tab_2 {
  border: 0;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #E0E0E0;
}
.button_tab:hover,
.button_tab:focus{
  background-color: #18A0FB;
  color: #fff;
}
.tab_size {
  padding: 0;
  margin: 0;
  padding: 14px 48px;
}
.button_tab_3 {
  border: none;
  border: 1px solid #E0E0E0;
}
.tags_icons {
  padding: 0;
}
.tag__icon {
  display: flex;
  list-style: none;
  padding: 6px 10px;
  width: 65px;
  max-width: 100%;
  height: 28px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  transition: .5s;
}
.tag__icon:hover,
.tag__icon:focus{
  border: none;
  background-color: #18A0FB;
}
.tag_icon__text {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  padding-right: 6px;

}
.tag_icon__text:hover,
.tag_icon__text:focus{
  color: #fff;
}
.tag__icon__link {
  stroke: #2C2C2C;
  opacity:0.7;
}
.tag__icon__link:hover,
.tag__icon__link:focus{
  stroke: #FFFFFF;
  opacity:0.7;
}
.tag__icon__link__notext {
  list-style: none;
}

.tag__icon__link__notext {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
}
.tag__icon__notext {
  list-style: none;
  cursor: pointer;
  margin-top: 14px;
}
.tag__icon__link__notext_hover {

  background-color: #18A0FB;
  color: #FFFFFF;
  opacity: 1;
  transition: .5s;
}
.tag__icon__link__notext_hover:hover,
.tag__icon__link__notext_hover:focus {
  color: #2C2C2C;
  opacity: 1;
  background-color: rgba(224, 224, 224, 0.3);
  border: 1px solid #E0E0E0;
}
/*POP_UP*/
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  width: 700px;
  height: 300px;
}
.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;

  width: 700px;
  background-color:  rgba(44, 44, 44, 0.7);
}
.popup__content {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 315px;
  max-width:100%;
  height: 135px;
  max-height: 100%;
  background-color: #FFFFFF;
  border: 1px solid rgba(224, 224, 224, 0.15);
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 16px;
  color: #2C2C2C;
  opacity: 1;

}
.popup__close {
  position: absolute;
  right: 17px;
  top: 17px;
  fill: #2C2C2C;
  opacity: 0.7;
}
.popup__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;

}
.popup__text {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.popup__button {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  position: absolute;
  right: 17px;
  bottom: 17px;
}
.popup__button_snap {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  padding: 10px 14px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  cursor: pointer;
}
.popup__button_snap:hover {
  color: #fff;
  background-color: #18A0FB;
}
.popup__block {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup__content__small {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height:42px;
  max-height: 100%;
  background-color: #FFFFFF;
  padding: 13px;

}
.popup__content__small:hover{
background-color: #18A0FB;
color: #fff;
}
.popup__title__small {
  margin: 0;
}
.popup__close__small {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 22px;
  height: 22px;
  background-color: #E0E0E0;
  fill: #fff;
  border-radius: 50%;
  padding-left: 6px;
}
.popup__close__small:hover{
  background-color: #fff;
  opacity: 1;
  fill: #18A0FB;
}
.popup__middle {
  margin-top: 30px;
}
.popup__content__middle {
  padding: 0;
  height:70px;
  max-height: 100%;
  background-color: #FFFFFF;
}
.popup__title__middle {
  padding-top: 13px;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 10px;
}
.popup__text__mniddle {
  padding-left: 13px;
  color: #2C2C2C;
  opacity: 0.5;
  font-size: 13px;
  line-height: 16px;
}
.popup__text__mniddle:hover {
  color: #fff;
  opacity: 1;
}
.popup__big {
  margin-top: 30px;
}
.popup__content__big {
  position: relative;
  padding: 0;
  margin: 0;
 height: 70px;
 max-height: 100%;
 padding: 15px;
}
.popup__text__big  {
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  margin: 0;
}

.popup__attention {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
}
.popup__buttons__group {
  position: absolute;
  top: 0;
  right: 0;
}
.popup__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup__button_middle {
  padding: 0;
  margin: 0;
  width: 89px;
  height: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  opacity: 0.5;
  background-color: #fff;
  border: none;
  border-left:1px solid #E0E0E0 ;
  cursor: pointer;
}
.popup__button_2 {
  border-top: 1px solid #E0E0E0;
}
.popup__button_middle:hover {
  color: #2C2C2C;
  opacity: 1;
  font-weight: bold;
}
.popup__attention {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #FF3E1D;
  width: 22px;
  height: 22px;
  margin-top: 10px;
  margin-left: 10px;
}
.popup__attention_text {
  color: #fff;
  padding-left: 9px;
}
.popup__block_text {
  margin-left: 41px;
}


.popup__content__big_2 {
  margin-top: 30px;
}
.popup__button_middle_2 {
  background-color: #FF3E1D;
  border-left:1px solid #E0E0E0 ;
}
.popup__button_1_2 {
  color: #fff;
  opacity: 1;
}
.popup__button_2_2 {
  color: #fff;
  opacity: 1;
  border-top: 1px solid #E0E0E0;
}
.popup__button_1_2:hover,
.popup__button_2_2:hover {
  color: #fff;
  opacity: 1;
  font-weight: bold;
}
.popup__title_2 {
  color: #fff;
}
.popup__text__big_2 {
  color: #fff;
}
.popup__content__big_2 {
  background: #FF3E1D;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.popup__attention_2 {
  background-color: #fff;
}
.popup__attention_text_2 {
  color: #000;
}

/*TABS*/
.tabs__breadcrumb__block {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 100px;
}
.tabs{
  max-width: 290px;
}
.tabs_first {
  margin-top: 30px;
}
.tabs-nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}
.tabs__link {
  padding: 10px 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #2C2C2C;
  background: #FFFFFF;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}
.tabs__link:hover {
  color: #18A0FB;
  cursor: default;
  box-shadow: 0px 2px 0px #18A0FB;
  transition: .3s;
}
.tabs__link_2 {
  padding: 10px 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #2C2C2C;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #E0E0E0;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}
.tabs__link_2:hover {
  color: #18A0FB;
  cursor: default;
  box-shadow: 0px 2px 0px #18A0FB;
  transition: .3s;
}
/*tabs_icon*/
.tabs_3 {
  width: 360px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.tabs-nav_3 {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}
.tabs__link_3 {
  padding: 10px 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #2C2C2C;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #E0E0E0;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
   margin:0;
  display:flex;
  text-align: center;
  justify-content: center;
}
.tabs-icon_3 {
  padding-right: 7px;
  fill:#2C2C2C;
}
.tabs-icon_active:hover {
  color: #18A0FB;
  cursor: default;
  fill:#18A0FB;
  stroke: #18A0FB;
}
.tabs__link_3:hover{
  color: #18A0FB;
  fill:#18A0FB;
  stroke: #18A0FB;
  cursor: default;
  box-shadow: 0px 2px 0px #18A0FB;
  transition: .3s;
}
.tabs-link_3-especially {
  fill:#2C2C2C;
  stroke: #2C2C2C;
}

/*Хлебные крошки*/
.breadcrumb__link {
  text-decoration: none;
}
.breadcrumb__link:visited {
	 text-decoration: none;
	 color: #2c2c2c;
	 transition: color ease-in-out 0.3s, background ease-in-out 0.2s;
}
 .breadcrumb{

	 font-size: 14px;
	 font-weight: 500;
	 color: #2c2c2c;
	 overflow: hidden;
	 width: fit-content;
}
 .breadcrumb__nav {
	 display: flex;
	 white-space: nowrap;
	 overflow: hidden;
}
 .breadcrumb__wrap:before {
	 content: '';
	 background-color: #2c2c2c;
	 width: 100%;
	 height: 100px;
	 position: absolute;
	 top: 0;
	 right: 0;
	 z-index: -1;
	 transition: transform ease-in-out 0.5s;
	 transform: scalex(0);
	 transform-origin: left top;
	 display: none;
}
 .breadcrumb__wrap {
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	 flex: 0 auto;
	 flex-shrink: 1000;
	 display: inline-block;
	 padding: 10px 5px 15px 0;
	 color: #2c2c2c;
	 opacity: 0.5;
	 position: relative;
	 transition: transform ease-in-out 0.3s;
}
 .breadcrumb__wrap:hover {
	 flex: 1 0 auto;
	 opacity: 1;
	 color: #2c2c2c;
	 transition: none;
	 opacity: 1;
	 transition: transform ease-in-out 0.4s;
}
 .breadcrumb__wrap:hover a {
	 color: #2c2c2c;
	 font-weight: 500;
}
 .breadcrumb__wrap:hover .sep i {
	 transform: translatex(5px);
	 color: #2c2c2c;
	 transition: transform ease-in-out 0.4s;
}
 .breadcrumb__wrap:first-child {
	 flex: 0 0 auto;
	 flex-shrink: 0.5;
	 font-weight: 500;
	 color: #2c2c2c;
	 opacity: 1;
}
 .breadcrumb__wrap:first-child:after {
	 left: 0;
}
 .breadcrumb__wrap:first-child .sep {
	 display: none;
}
 .breadcrumb__wrap:hover:after {
	 transform: scale3d(1, 1, 1);
	 opacity: 1;
	 transition: opacity ease-in-out 0.1s, transform ease-in-out 0.2s;
}
 .breadcrumb {
	 flex: 0 1 auto;
}
 .sep {
	 padding-left: 10px;
	 padding-right: 10px;
}
 .sep i.fa:before {
	 content: "\f105";
	 transition: transform ease-in-out 0.2s;

}
 

.breadcrumb__link_2 {
  text-decoration: none;
  color: #18a0fb;
}
.breadcrumb__link_2:visited {
	 text-decoration: none;
	 color: #18a0fb;
}

 .breadcrumb__nav_2 {
	 font-size: 14px;
	 font-weight: 500;
	 color: #18a0fb;
	 overflow: hidden;
	 width: fit-content;
}
 .breadcrumb__nav_2 {
	 display: flex;
	 white-space: nowrap;
	 overflow: hidden;
}
 .sep i {
	 transform: translatex(5px);
	 color: #2c2c2c;
	 opacity: 0.5;
	 transition: transform ease-in-out 0.3s;
}
 .breadcrumb__wrap_2:before {
	 content: '';
	 background-color: #2c2c2c;
	 width: 100%;
	 height: 100px;
	 position: absolute;
	 top: 0;
	 right: 0;
	 z-index: -1;
	 transition: transform ease-in-out 0.5s;
	 transform: scalex(0);
	 transform-origin: left top;
	 display: none;
}
 .breadcrumb__wrap_2 {
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	 flex: 0 auto;
	 flex-shrink: 1000;
	 display: inline-block;
	 padding: 10px 5px 15px 0;
	 position: relative;
	 transition: transform ease-in-out 0.3s;
}
 .breadcrumb__wrap_2:hover {
	 flex: 1 0 auto;
	 opacity: 1;
	 font-weight: 500;
	 color: #2c2c2c;
	 transition: none;
	 opacity: 1;
	 transition: transform ease-in-out 0.4s;
}
 .breadcrumb__wrap_2:hover a {
	 color: #18a0fb;
}
 .breadcrumb__wrap_2:hover .sep i {
	 transform: translatex(5px);
	 color: #2c2c2c;
	 opacity: 0.5;
	 transition: transform ease-in-out 0.3s;
}
 .breadcrumb__wrap_2:first-child {
	 flex: 0 0 auto;
	 flex-shrink: 0.5;
	 font-weight: 500;
	 color: #18a0fb;
	 opacity: 1;
}
 .breadcrumb__wrap_2:first-child:after {
	 left: 0;
}
 .breadcrumb__wrap_2:first-child .sep {
	 display: none;
}
 .breadcrum__-wrap_2:nth-child(2) {
	 flex: 0 0 auto;
	 flex-shrink: 0.5;
}
 .breadcrumb__wrap_2:nth-child(2) a {
	 color: #2c2c2c;
	 opacity: 0.5;
}
 .breadcrumb__wrap_2:nth-child(2) a:hover {
	 color: #18a0fb;
	 opacity: 1;
}
 .breadcrumb__wrap_2:nth-child(3) {
	 flex: 0 0 auto;
	 flex-shrink: 0.5;
}
 .breadcrumb__wrap_2:nth-child(3) a {
	 color: #2c2c2c;
	 opacity: 0.5;
}
 .breadcrumb__wrap_2:nth-child(3) a:hover {
	 color: #18a0fb;
	 opacity: 1;
}
 .breadcrumb__wrap_2:hover:after {
	 transform: scale3d(1, 1, 1);
	 opacity: 1;
	 transition: opacity ease-in-out 0.1s, transform ease-in-out 0.2s;
}
 .breadcrumb_2 {
	 flex: 0 1 auto;
}

 /*PAGINATION*/
 .pagination__block {
   display: flex;
   align-items: flex-start;
   margin-left: 78px;
   margin-top: 50px;
   flex-wrap: wrap;
   width: 320px;
 }
 .pagination {
  width: 190px;
  max-width: 100%;
  margin: 0;
  padding: 9px;
}
.pagination li {
  display: inline-block;
  list-style: none;
  stroke: #2C2C2C;
}
.icon_arrow {
 fill: #2C2C2C;
  opacity: 0.6;
}
.pagination a {
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #2c2c2c;
  opacity: 0.5;
  border-radius: 4px;
  margin: 0;
  padding-right: 16px;
  transition: all 0.3s ease;
}
.pagination a:hover, .pagination a:active, .pagination a:focus {
  color: #18a0fb;

  opacity: 1;
}
.icon_arrow:hover {
  fill: #18A0FB;
  stroke: #18a0fb;
  opacity: 1;
 }
.pagination a:first-child a {
  padding: 9px;
}
.pagination a:last-child a {
  border-radius: 0 40px 40px 0;
}

/*PAGINATIONS button*/

.paginations_2 {
 display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.pagination_2 {
  display: flex;
  padding: 0;
  margin: 0;
 }
.pagination__button {
  list-style: none;
  margin-right: 11px;
}

.pagination__button__link {
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  float: left;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid rgba(224, 224, 224, 0.3);
  color:#2C2C2C;
  opacity: 0.5; 
}   
.pagination__button__link:hover,
.pagination__button__link:focus {
  color: #fff;
  opacity:1;
  background-color: #18A0FB;
}
    
.pagination__button__link:active {
  color: #fff;
  opacity:1;
  background-color: #18A0FB;
}

.pagination__button__icon {
  position: relative;
  top: .125em;
  flex-shrink: 0;
  height: 14px;
  width: 14px;
  margin: 9px 12px;
  fill: currentColor;
  transition: fill .3s;
}
.pagitation_text {
  display: flex;
  padding-right: 12px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #18A0FB;
  cursor: pointer;
}
.pagination__button__link_2   {
  border-radius: 50%;
}
/*BreadCRumbs*/
.elements {
  margin-bottom: 30px;
}
.element__list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  list-style: none;
}

.element__item {
  float: left;
  margin: 0 8px;
}

.element__link {
background: rgba(24, 160, 251, 0.1);
color: #18A0FB;
padding: 5px 20px;
font-weight: 500;
font-size: 13px;
line-height: 16px;
float: left;
text-decoration: none;
position: relative;
}

.element__item:first-child .element__link {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.element__item:last-child .element__link {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.element__link:hover {
  background: #18A0FB;
  opacity:1;
  color:#fff;
  
}

.element__item:not(:first-child) > .element__link::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: rgba(24, 160, 251, 0.1) rgba(24, 160, 251, 0.1) rgba(24, 160, 251, 0.1) transparent;
  left: -1em;
}

.element__item:not(:first-child) > .element__link:hover::before {
  border-color: #18A0FB #18A0FB #18A0FB transparent;
}

.element__item:not(:last-child) > .element__link::after {
content: "";
position: absolute;
top: 50%;
margin-top: -1.5em;   
border-top: 1.5em solid transparent;
border-bottom: 1.5em solid transparent;
border-left: 1em solid rgba(24, 160, 251, 0.1);
right: -1em;
}

.element__item:not(:last-child) > a:hover::after {
  border-left-color: #18A0FB;
}
.pagitation_text_2 {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #8B8B8B;
}
.pagitation_text_2:hover{
  color: #18A0FB;
  opacity: 1;
}
.pagination__button__link_3 {
padding: 0;
margin: 0;
display: flex;
background: rgba(224, 224, 224, 0.3);
color: #2C2C2C;
opacity: 0.5;
padding-top: 11px;
padding-bottom: 11px;
padding-left: 23px;
padding-right: 8px;
}
.pagination__button__link_3:hover{
  background: rgba(24, 160, 251, 0.1);
  color: #18A0FB;
  opacity: 1;
}
.pagination__button__icon_3 {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: -2px;
}
.pagination__button__icon_4 {
  margin: 0;
  padding: 0;
  margin-left: 17px;
  margin-top: -2px;
  margin-left: 10px;
}
.pagination__button__link_4 {
  padding: 0;
  margin: 0;
  display: flex;
  background: rgba(224, 224, 224, 0.3);
  color: #2C2C2C;
  opacity: 0.5;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 23px;
  padding-left: 8px;
  }
  .pagination__button__link_4:hover{
    background: rgba(24, 160, 251, 0.1);
    color: #18A0FB;
    opacity: 1;
  }
  .pagination__button__link_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
.pagination__button__link_5:hover {
  stroke: #18A0FB;
  background: rgba(24, 160, 251, 0.1);
  color: #18A0FB;
  opacity: 1;
  fill: #18A0FB;
}
.pagination__button__icon_5 {
  fill: currentColor;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 6px;
  margin-right: 16px;
  margin-left: 15px;
}
.pagination__choice {
  padding-right: 8px;
  padding-left: 14px;
}
.pagitation__choice_2 {
  display: flex;
    align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  padding-right: 11px;
  padding-left: 11px;
}

/*WBZZARD*/
.multisteps-form {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}
.multisteps-form__progress {
  width: 300px;
  max-width: 100%;
  margin-top: 30px;
}
.multisteps-text{
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(224, 224, 224, 1);
}
.multisteps-text:hover,
.multisteps-text:active{
  color:#2C2C2C;
}
.multisteps-form__progress-btn {
  width: 95px;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(224, 224, 224, 1);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 300px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}


.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 12px;
  height: 12px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border-radius: 50%;
  background-color: rgba(224, 224, 224, 1);
  box-sizing: border-box;
  z-index: 3;
  
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: #18A0FB;
}

.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}
/*WBZZARD-2*/

.multisteps {
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.column {
  transform: rotate(90deg);
}
.column-row {
  transform: rotate(360deg);
}
.progress_point {
  width: 400px;
  /*vertical*/
  height: 400px;
  max-height:100%;
  max-width: 100%;
}

.progress_point_btn {
  position: relative;
  width: 95px;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(224, 224, 224, 1);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 300px) {
  .progress_point_btn {
    text-indent: 0;
  }
}

.progress_point_btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 18px;
  height: 18px;
  content: '';
  -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border-radius: 50%;
  background-color: rgba(224, 224, 224, 1);
  box-sizing: border-box;
  z-index: 3;
}

.progress_point_btn:after {
  position: absolute;
  top: 8px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.progress_point_btn.js-active-element:first-child:before {
  position:absolute;
   content:'\2714';
   color:#fff;
   /*vertical*/
   left:35px;
   border:none;
   background-color: #18A0FB;
   transform: rotate(-90deg);
 }
.progress_point_btn-first.js-active-element:first-child:before {
 position:absolute;
  content:'\2714';
  color:#fff;
  /*vertical*/
  left:35px;
  border:none;
  background-color: #18A0FB;
  transform: rotate(360deg);
}
.progress_point_btn:first-child:after {
  display: none;
}

.progress_point_btn.js-active-element{
  
  color: #18A0FB;
}

.progress_point_btn.js-active-element:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  border: 4px solid #18A0FB;
  background-color: #fff;
}
/*TABLE*/

.table_block {
  margin-top: 50px;
  margin-bottom: 50px;
}
.myTable {
  border-collapse: collapse;
  width: 800px;
  border: 1px solid #E0E0E0;
  font-size: 18px;
}
.table__list {
  box-shadow: inset 0px -1px 0px #E0E0E0;
}
.table__name {
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  color: #2C2C2C;
}
.table__item {
  border-collapse: collapse;
  font-size: 13px;
  line-height: 100%;
  color: #2C2C2C;
  cursor: pointer;
}
.table__item:last-child{
  text-align: right;
  padding-right: 22px;
}
.table__item-time {
  border-collapse: collapse;
  font-size: 13px;
  line-height: 100%;
  color: #2C2C2C;
  opacity: 0.5;
}

.table__name, .table__item {
  padding:0;
  margin:0;
  text-align: left;
  padding-top: 17.5px;
  padding-bottom:17.5px;
  padding-left:12px;
}

.table__list {
  box-shadow: inset 0px -1px 0px #E0E0E0;
}
.table__header {
  background-color: #F7F7F7;
box-shadow: inset 0px -1px 0px #E0E0E0;

}
.table__list:hover {
 background-color: rgba(255, 212, 34, 0.1);
box-shadow: inset 0px -1px 0px #E0E0E0;
}
/*TABLE 2*/
.table__block_2 {
  margin-top: 50px;
}
.table__header_2 {
  display: flex;
  justify-content: space-between;
}
.table__desc {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.table__name_style {
  display: flex;
  align-items: center;
}
.table__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.table__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 13px;
  line-height: 100%;
  cursor: pointer;
}

.table__checkbox+label::before{
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: .2s;
}
.table__checkbox:checked+label::before {
  border-color: #18A0FB;
  background-color: #18A0FB;
  background-image: url('../img/check.svg');
}
.table__checkbox__name:checked+label::before  {
  border-color: #18A0FB;
  background-color: #18A0FB;
  background-image: url('../img/check_minus.svg');
}
.input__search__table {
  width: 260px;
  max-width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #2C2C2C;
  opacity: 0.5;
}
.search-right {
  background-image: url('../img/search.svg');
  padding-right: 9px;
  cursor: pointer;
}
/*PROGRESS*/
.progress__block {
  display: grid; 
  grid-template-columns: 1fr 1fr ; 
  grid-template-rows: 1fr 1fr ; 
  gap: 23px 22px; 
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 273px;
  height: 281px;
  max-width: 100%;
  max-height: 100%;
  background: #FFFFFF;
  border: 1px dashed #E0E0E0;
  border-radius: 5px;
}
.progress__image__add {
  margin-bottom: 13px;
  cursor: pointer;
}
.progress__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #2C2C2C;
}
.progress__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  opacity: 0.4;
}
.progress__title_wrong {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #FF3E1D;
}
.progress__wrong {
  background-color: rgba(255, 62, 29, 0.05);
  border: 1px dashed #FF3E1D;
}
.progress__title_card-3 {
  margin: 0;
  margin-bottom: 16px;
}
.progress_line {
  display: block;
  border-radius: 10px;
  height: 6px;
  margin-bottom: 19px;
}
progress.progress_line::-webkit-progress-value {
  background-color: #18A0FB;
  border-radius: 10px;
}
progress.progress_line::-webkit-progress-bar {
  background: #E0E0E0;
  border-radius: 10px;
}
.progress__button {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 10px 24px;
  margin-top: 34px;
  cursor: pointer;
}
/*CIRCE*/
.progress__loading-bool{
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress__bool{
  position: relative;
  height: 107px;
  width: 107px;
  border: 5px solid #18A0FB;
  border-radius: 100%;
  margin-bottom: 19px;
}
.progress__bool .inner-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 100%;
}

.progress__bool svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 5px;
  height: 5px;
}
.progress__circle svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #18A0FB;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: progress 5.4s linear forwards;
}
.progress__bool .inner-circle .num{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  color: #2C2C2C;
}
.progress__button-bool {
  margin: 0;
  margin-top: 24px;
}
.progress__text-bool {
  margin: 0;
}
@keyframes progress__circle {
  100%{
      stroke-dashoffset: 0;
  }
}
.progress__image__done {
  margin: 0;
  margin-bottom: 26px;
  cursor: pointer;
}
.progress__text-done {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
}
.progress__file {
  display: flex;
  justify-content: start;
  padding: 12px 10px;
  border:none;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  height: 308px;
}
.progress__file_header {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.progress__file_title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #2C2C2C;
  margin-right: 26px;
}
.progress__file__button {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 12px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  cursor: pointer;
}
.progress__file__button_text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  padding-right: 9px;
}
.progress__file__elements {
  display: flex;
  justify-content: space-between;
}
.progress__file__element {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.progress__file__element_image {
  max-width: 100%;
  width: 24px;
  height: 32px;
  margin-right: 10px;
}
.progress__file__element_descr {
  margin-right: 94px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
}
.progress__file__element_descr_title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  margin-bottom: 1px;
}
.progress__file__element_descr_text {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #2C2C2C;
  opacity: 0.6;
}
.progress__file__element_button {
  cursor: pointer;
}
.progress_file_line {
  display: block;
  width: 232px;
  height: 2px;
  margin: 0;
}
progress.progress_file_line::-webkit-progress-value {
  background-color: #18A0FB;
  border-radius: 10px;
}
progress.progress_file_line::-webkit-progress-bar {
  background: #E0E0E0;
  border-radius: 10px;
}

progress.progress_file_line_green::-webkit-progress-value {
  background-color: #00D200;
  border-radius: 10px;
}
progress.progress_file_line_red::-webkit-progress-value {
  background-color:  #FF3E1D;
  border-radius: 10px;
}
.progress__file__elements_2 {
  margin-top: 15px;
}
.progress__file__element_button_restore {
  display: flex;
  align-items: center;
}
.progress__file__element_restore {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FF3E1D;
  margin-right: 8px;
}
.progress__file__element_descr_restore {
  margin: 0;
  margin-right: 54px;
}
.progress__file__element_4 {
  margin: 0;
}
.progress_file_line_yellow {
  margin-top: 12px;
}
progress.progress_file_line_yellow::-webkit-progress-value {
  background-color: #FFD422;
  border-radius: 10px;
}
progress.progress_file_line_yellow::-webkit-progress-bar {
  background: #E0E0E0;
  border-radius: 10px;
}
.progress__file__element_restore_2 {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #2C2C2C;
  opacity: 0.4;
}
.progress__file__element_descr_restore_4 {
  margin: 0;
  margin-right: 37px;
}